*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #3498db; 
    --secondary-color: #2ecc71; 
    --light-color: #ecf0f1; 
    --dark-color: #2c3e50; 
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8; 
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 3rem; 
}

.container-sm {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 3rem; 
}

.btn {
    display: inline-block;
    padding: 1.5rem 2.5rem; 
    border: 1px solid var(--secondary-color);
    border-radius: 36px; 
    background: var(--secondary-color);
    color: var(--dark-color);
    cursor: pointer;
    transition: all 0.3s; 
}

.btn:hover {
    background: var(--primary-color);
    color: #fff;
    border-color: #fff;
}

.text-primary {
    color: var(--primary-color);
}

.text-secondary {
    color: var(--secondary-color);
}

.section {
    margin: 5rem 0; 
}

.section-header {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 4rem; 
}

.section-header h2 {
    font-size: 2.2rem; 
    font-weight: 700;
    color: var(--dark-color);
    margin-bottom: 1rem; 
}

.section-header p {
    font-size: 1.4rem; 
    color: var(--dark-color);
}

.heading-border {
    width: 80px; 
    height: 5px; 
    background: var(--primary-color);
    margin: 0 auto 2.5rem; 
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2.5rem 2rem; 
    background: #fff;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); 
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.navbar {
    background: transparent;
    color: white;
    padding: 1.5rem 2.5rem; 
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    transition: background-color 0.5s ease-in-out;
}

.navbar.navbar-scroll {
    background-color: rgba(41, 128, 185, 0.8); 
    backdrop-filter: blur(8px); 
}

.navbar-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar img {
    width: 100px; 
    height: auto; 
}

.navbar .main-menu-list {
    display: flex;
    align-items: center;
    gap: 2.5rem; 
    font-weight: 600;
}

.navbar a {
    color: #fff;
}

.navbar a:hover {
    color: var(--secondary-color);
}

.navbar i {
    font-size: 1.6rem; 
}

.mobile-menu {
    display: none;
}

.navbar .mobile-menu-toggle {
    color: #fff;
    cursor: pointer;
}

.navbar .mobile-menu-items {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.9); 
    opacity: 0.95;
    padding: 3rem 2rem;
    text-align: center;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);  
    border-top: 1px solid rgba(255, 255, 255, 0.2); 
    transform: translateX(100%);
    transition: transform 0.4s ease; 
}

.navbar .mobile-menu-items.active {
    transform: translateX(0);
}

.navbar .mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 2.5rem; 
    font-size: 1.3rem; 
}

.hero {
    background: #000 url('../images/header-background.jpg') center center/cover no-repeat;
    padding: 12rem 2rem 9rem; 
    color: #fff;
    overflow-x: hidden;
    position: relative;
    animation: fadeIn 1s ease-in;
}

.hero .hero-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7rem; 
    padding-bottom: 9rem; 
}

.hero h1 {
    font-size: 3.7rem; 
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 1.2rem;
}

.hero p {
    font-size: 1.3rem; 
    margin-bottom: 2.2rem; 
    line-height: 1.8;
    font-weight: 400;
}

.hero img {
    width: 100%;
    margin-right: -110px; 
}

.hero .frame-decoration {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px; 
}

.topics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem; 
}

.topic img {
    transition: transform 0.4s; 
}

.topic img:hover {
    transform: scale(1.15); 
}

.topic h3 {
    font-size: 1.1rem; 
    font-weight: 700;
    margin: 0.6rem 0; 
}

.chapter-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem; 
    padding: 1.5rem 0 4.5rem; 
}

.chapter-cards img {
    width: 140px; 
    margin-top: 1.2rem; 
}

.chapter-cards h3 {
    font-size: 1.3rem; 
    font-weight: 700;
    margin: 1.2rem 0; 
}

.summary {
    background: var(--light-color);
    color: var(--dark-color);
    padding: 4.5rem 2rem 5.5rem; 
}

.summary .section-lists {
    background: #fff;
    padding: 2.5rem; 
}

.summary .list-header {
    background: var(--primary-color);
    color: #fff;
    padding: 0.6rem 1.2rem; 
    font-size: 1.3rem; 
    font-weight: 700;
    margin: 1.2rem 0; 
}

.summary .list-item {
    padding: 1.5rem 0; 
    border-bottom: 1px solid #f1f4f6;
}

.summary .list-item:last-child {
    border-bottom: none;
}

.info-container {
    background: url('../images/audience.jpg') top center/cover no-repeat;
    display: flex;
}

.info-content {
    background-color: var(--primary-color);
    color: #fff;
    flex: 1;
    padding: 4.5rem; 
}

.info-content h2 {
    font-size: 2.2rem; 
    margin-bottom: 1.2rem; 
    font-weight: 700;
}

.info-content p {
    font-size: 1.3rem; 
    margin-bottom: 2.2rem; 
}

.info-content ul li {
    font-size: 1.3rem; 
    line-height: 2;
}

.info-content i {
    margin-right: 0.6rem; 
    color: var(--secondary-color);
}

.info-left {
    width: 50%;
}

.takeaways-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem; 
    padding: 1.7rem 0; 
}

.takeaways-cards .card {
    flex-direction: row;
    text-align: left;
}

.takeaways-cards .card i {
    margin-right: 1.2rem; 
}

.details .details-flex {
    display: flex;
    gap: 4.5rem; 
    align-items: center;
    justify-content: center;
}

.details img {
    width: 100%;
    max-width: 520px; 
}

.details h2 {
    font-size: 2.2rem; 
    font-weight: 700;
    margin-bottom: 1.2rem; 
}

.details p {
    font-size: 1.3rem; 
    line-height: 2;
    margin-bottom: 1.8rem; 
}

.details ul li {
    font-size: 1.3rem; 
    line-height: 2;
}

.details ul li i {
    color: var(--primary-color);
    margin-right: 0.6rem; 
}

.stats {
    background: #000 url('../images/stats-background.jpg') center center/cover no-repeat;
    color: #fff;
}

.stats-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4.5rem 2rem; 
}

.stats img {
    width: 100%;
    max-width: 520px; 
}

.stats-content {
    max-width: 520px; 
}

.stats .stats-numbers {
    display: flex;
    gap: 2.5rem; 
    margin: 2.5rem 0; 
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.stats .stats-numbers h3 {
    font-size: 3.2rem; 
    font-weight: 700;
}

.stats .stats-numbers p {
    font-size: 0.9rem; 
}

.stats .stats-text {
    font-size: 1.3rem; 
    margin-bottom: 2.2rem; 
    text-align: center;
}

.stats .btn {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 210px; 
}

.newsletter {
    text-align: center;
    margin: 0 2.5rem; 
}

.newsletter-flex {
    display: flex;
    gap: 1.2rem; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--light-color);
    border: 1px solid #eee;
    padding: 4.5rem 2.5rem; 
}

.newsletter h2 {
    font-size: 2.2rem; 
    font-weight: 700;
}

.newsletter p {
    max-width: 650px; 
}

.newsletter input[type='email'] {
    padding: 1.2rem 2.2rem; 
    border: 1px solid #ccc;
    border-radius: 32px;
    width: 100%;
    max-width: 420px; 
    margin: 1.2rem 0; 
}

.social {
    background: var(--dark-color);
    color: #fff;
    padding: 6.5rem 2.5rem; 
    text-align: center;
    font-size: 1.8rem; 
    margin-bottom: 0;
}

.social a,
.footer a {
    color: #fff;
}

.social a:hover,
.footer a:hover {
    color: var(--secondary-color);
}

.social p {
    margin-bottom: 2.5rem; 
}

.social .social-icons {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    margin-top: 2.5rem; 
}

.footer {
    background: var(--dark-color);
    color: #fff;
    border-top: 1px solid #384653;
    padding: 1rem 2.5rem; 
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer ul {
    display: flex;
    justify-content: center;
    gap: 1.2rem; 
    margin: 2.5rem 0; 
}

.inner-header {
    background: var(--primary-color);
    color: #fff;
    height: 260px; 
    padding-top: 9rem; 
}

.inner-header h1 {
    font-size: 2.7rem; 
    font-weight: 700;
    margin-bottom: 1.2rem; 
}

.contact-form p {
    margin-bottom: 3.2rem; 
}

.contact-form input,
.contact-form textarea {
    display: block;
    font-family: inherit;
    font-size: medium;
    width: 100%;
    margin: 1.7rem 0; 
    border: 1px solid #ccc;
    padding: 1.3rem 1.2rem; 
}

.contact-form textarea {
    height: 220px; 
}

.contact-form .btn {
    display: block;
    width: 100%;
    font-size: inherit;
    font-family: inherit;
    margin: 0 auto;
}

.location h2 {
    font-size: 2.2rem; 
    font-weight: 700;
    margin-bottom: 1.2rem; 
}

.location p {
    margin-bottom: 2.2rem; 
}

.location .map {
    overflow: hidden;
    position: relative;
    height: 0;
    margin-bottom: 3.2rem; 
    padding-bottom: 52%; 
    border-radius: 0.25rem;
}

.location .map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

@media (max-width: 1200px) {
    .hero .hero-flex {
        gap: 2.5rem; 
    }

    .hero img {
        max-width: 520px; 
        margin-right: 0;
    }

    .hero h1 {
        font-size: 3.2rem; 
    }

    .topics {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 992px) {
    .hero {
        text-align: center;
    }

    .hero .hero-flex {
        flex-direction: column;
        padding-bottom: 4.5rem; 
    }

    .hero img {
        max-width: 620px; 
        margin-top: 2.2rem; 
    }

    .topics {
        grid-template-columns: repeat(2, 1fr);
    }

    .chapter-cards,
    .takeaways-cards {
        grid-template-columns: 1fr;
    }

    .details-flex,
    .details+.details .details-flex,
    .stats .stats-flex {
        flex-direction: column;
        gap: 2.2rem; 
    }
}

@media (max-width: 768px) {
    .main-menu-items,
    .info-left {
        display: none;
    }

    .navbar .mobile-menu {
        display: block;
    }

    .navbar .mobile-menu-toggle {
        display: block;
        padding: 12px; 
    }

    .info-container {
        flex-direction: column;
    }

    .info-content {
        padding: 2.2rem; 
    }

    .info-content h2 {
        font-size: 1.7rem; 
    }

    .info-content p {
        font-size: 1.1rem; 
    }

    .social .social-icons {
        flex-wrap: wrap;
    }

    .social p {
        font-size: 1.3rem; 
    }

    .social i {
        font-size: 2.2rem; 
    }

    .footer {
        padding: 1rem 1.5rem; 
    }

    .footer-flex {
        flex-direction: column;
        text-align: center;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@media only screen and (max-width: 1200px) {
    .hero .hero-flex {
        flex-direction: column;
        gap: 4rem;
    }

    .hero img {
        margin-right: 0;
    }

    .topics {
        grid-template-columns: repeat(2, 1fr);
    }

    .chapter-cards {
        grid-template-columns: 1fr;
    }

    .takeaways-cards {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 768px) {
    .hero {
        padding: 8rem 2rem 6rem;
    }

    .hero h1 {
        font-size: 2.8rem;
    }

    .hero p {
        font-size: 1.1rem;
    }

    .navbar .main-menu-list {
        display: none;
    }

    .navbar .mobile-menu {
        display: flex;
        align-items: center;
    }

    .topics {
        grid-template-columns: 1fr;
    }

    .info-container {
        flex-direction: column;
    }

    .info-left {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .hero {
        padding: 6rem 2rem 4rem;
    }

    .hero h1 {
        font-size: 2.2rem;
    }

    .hero p {
        font-size: 1rem;
    }
}
